.title
	{
		font-size:100px;
		color:white;
		text-align: center;
		font-family: cursive;
	}
body
	{
				
		background-image: url('Food.png');
		background-repeat: repeat;
		background-size: cover;
		color:black;
	}
.links
	{
		font-size:20px;
		color:white;
		background:orange;
		border:black;
		border-style:solid;
	}
li	{
		display:inline-block;
	}
br 	{
		display:block;
		margin-top:10px;
		line-height:22px;
	}
a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  color:black;
}
a:focus{
  color:white;
}
a:active{
  color:white;
}
